<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uta.ubs">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            android:excludeFromRecents="true"></activity>
        <activity android:name=".MainActivity"
            android:label="Registration"
            android:theme="@style/AppTheme"/>
        <activity android:name=".forgotActivity"
            android:label="Forgot Password"
            android:theme="@style/AppTheme"/>
        <activity android:name=".HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ProfilePage"
            android:label="Profile Page"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MarketPlace"
            android:label="MarketPlace"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Clubs"
            android:label="Clubs"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ListItemPage"
            android:label="List Item"
            android:theme="@style/AppTheme"/>
        <activity android:name=".SellActivity"
            android:label="Buy Item"
            android:theme="@style/AppTheme"/>
        <activity android:name=".LendActivity"
            android:label="Borrow Item"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ExchangeActivity"
            android:label="Exchange Item"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ExchangeActivityDetails"
            android:label="Owner Details"
            android:theme="@style/AppTheme"/>
        <activity android:name=".LendActivityDetails"
            android:label="Owner Details"
            android:theme="@style/AppTheme"/>
        <activity android:name=".BuyActivityDetails"
            android:label="Owner Details"
            android:theme="@style/AppTheme"/>
        <activity android:name=".NegotiateChat"
            android:label="Chat"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ResetPasswordActivity"
            android:label="Reset Password"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CreateClub"
            android:label="Create Club"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MyItemsActivity"
            android:label="My Items"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ClubDetails"
            android:label="Club Details"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ItemsChat"
            android:label="Items Chat"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>