<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uta.ubs">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            android:excludeFromRecents="true"></activity>
        <activity android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".forgotActivity"
            android:label="forgotActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".HomeActivity"
            android:label="HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ProfilePage"
            android:label="ProfilePage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MarketPlace"
            android:label="MarketPlace"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Clubs"
            android:label="Clubs"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ListItemPage"
            android:label="ListItemPage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SellActivity"
            android:label="SellActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".LendActivity"
            android:label="LendActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ExchangeActivity"
            android:label="ExchangeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ExchangeActivityDetails"
            android:label="ExchangeActivityDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".LendActivityDetails"
            android:label="LendActivityDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".BuyActivityDetails"
            android:label="BuyActivityDetails"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>